* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
}

.quadrado {
  background-color: white;
  width: 30vh;
  height: 30vh;
}

.top {
  position: absolute;
  top: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.right {
  position: absolute;
  right: 0;
}

.left {
  position: absolute;
  left: 0;
}
